html, body {
    background: #fff;
}

#horizontal-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#launch {
    border-radius: 25px;
    padding: 5px 35px 5px 35px;
    color: #fff;
    background: #000;
    border: 0;
    transition: 0.2s;
    right: 130px;
    top: 20px;
    position: fixed;
}

#launch0 {
    border-radius: 25px;
    padding: 5px 100px 5px 100px;
    color: #fff;
    background: #000;
    border: 0;
    transition: 0.2s;
}

#download {
    border-radius: 25px;
    padding: 5px 35px 5px 35px;
    color: #fff;
    background: #198754;
    border: 0;
    transition: 0.2s;
    right: 15px;
    top: 20px;
    position: fixed;
}

#launch:hover, #download:hover, #launch0:hover {
    background: #373737;
}

#admin-login {
    background: #0000009d;
    padding: 0 5px 0 5px;
    color: wheat;
    font-size: 19px;
    position: fixed;
    right: 270px;
    top: 25px;
}

#header {
    background: #0000009d;
    padding: 0 5px 0 5px;
    color: wheat;
    position: fixed;
    top: 20px;
}

#select-lang {
    padding: 3px 35px 3px 35px;
    border-radius: 10px;
    font-size: 20px;
}